<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Books</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- 如果path為'/'就顯示active，不是就為空 -->
            <a class="nav-link <%= path === '/' ? 'active':'' %>" aria-current="page" href="/">Home</a>
          </li>
          <!-- 有登入才顯示cart -->
          <% if (isLogin) { %>
            <li class="nav-item">
              <a class="nav-link <%= path === '/cart' ? 'active' : '' %>" aria-current="page" href="/cart">Cart</a>
            </li>
          <% } %>
          <!--沒有登入狀態才顯示-->
          <% if (!isLogin) { %>
            <li class="nav-item">
              <!-- 如果path為'/login'就顯示active這個class，不是就為空，不會吃到這個class的設定 -->
              <a class="nav-link <%= path === '/login' ? 'active':'' %>" aria-current="page" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <!-- 如果path為'/signup'就顯示active這個class，不是就為空，不會吃到這個class的設定 -->
              <a class="nav-link <%= path === '/signup' ? 'active' : '' %>" aria-current="page" href="/signup">Signup</a>
            </li>
          <% } %>
        </ul>
        <!--有登入狀態才顯示logout-->
        <% if (isLogin) { %>
        <form class="d-flex" action="/logout" method="POST">
            <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>"> -->
            <button class="btn btn-outline-success" type="submit">Logout</button>
        </form>
        <% } %>
      </div>
    </div>
</nav>